@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row min-vh-100 justify-content-center align-items-center">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column align-items-center w-100">
                <h2 class="mb-4" style="color: #6a0dad; font-size: 44px; font-weight: bold; margin-top: 60px;">Register</h2>
                <br />
                <form method="post" asp-action="Register" asp-controller="User" class="w-100" style="margin-top: 10px;">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" style="width: 80%;" required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" style="width: 80%;" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" style="width: 80%;" required />
                    </div>
                    <button type="submit" class="btn mt-2 w-100 btn-lg" style="background-color: #6a0dad; border-color: #6a0dad; color: white;">Register</button>
                </form>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger mt-2">
                        @Html.ValidationSummary(false)
                    </div>
                }
            </div>
        </div>

        <div class="col-md-6">
            <img src="~/assets/images/my/5.jpg" alt="Register Image" class="img-fluid rounded" />
        </div>
    </div>
</div>
